body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.inverted.menu.paddedTopMenu{
  margin-top: 40px;
}

.menu .container .ui.inverted.menu.yellowMenu{
  background-color: #fbbd08;
  padding: 0;
}

.ui table td span{
  padding: .78571429em .78571429em;
  cursor: pointer;
}